@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chakra+Petch:wght@300&family=Indie+Flower&family=Montserrat:wght@100&family=Orelega+One&family=Sunflower&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(to bottom, rgb(14, 14, 38) 0%, rgba(19, 19, 51, 0.952) 40%, rgba(19, 19, 51, 0.944) 70%, rgba(19, 19, 51, 0.867) 100%);
  background-repeat: no-repeat;
  color: white;
}

.App {
  text-align: center;
  font-size: 160%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h4 {
  margin: auto;
  padding-top: 60px;
}

@media screen and (max-width: 450px) {
  h4 {
    font-size: 100%;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 451px) {
  h4 {
    font-size: 150%;
    padding-bottom: 10px;
  }
}

h6 {
  margin: auto;
}

@media screen and (max-width: 450px) {
  h6 {
    font-size: 80%;
    width: 85%;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 451px) {
  h6 {
    width: 100%;
    font-size: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.magicalToy {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

@media screen and (max-width: 450px) {
  .magicalToy {
    width: 100%;
  }
}

.ball {
  position: relative;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
  z-index: 1;
}
   
.ball:before { /* white shadow */
  position: absolute;
  content: "";
  background: radial-gradient(circle at 50% 160%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  z-index: 2;
} 

 /* white sparkle */
  .ball:after { 
  position: absolute;
  width: 10%;
  height: 100%;
  content: "";
  top: 40%;
  right: 5%;
  background: radial-gradient(circle at 45% 50%, rgba(255, 255, 255, 0.266), rgba(255, 255, 255, 0.262) 14%, rgba(255, 255, 255, 0) 22%);
  -webkit-transform: translateX(-80%) translateY(-20%) skewX(-20deg);
  -moz-transform: translateX(-80%) translateY(-20%) skewX(-20deg);
  -ms-transform: translateX(-80%) translateY(-20%) skewX(-20deg);
  -o-transform: translateX(-80%) translateY(-20%) skewX(-20deg);
  transform: translateX(-80%) translateY(-20%) skewX(-20deg);
  -webkit-filter: blur(15px);
  filter: blur(15px);  
  z-index: 3;
} 

 .eightCircle {
  display: flex;
  position: absolute;
  width: 50%;
  aspect-ratio: 1 / 1;
  margin-top: 45% ;
  margin-left: 3.5%;
  background: #000000;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.169) solid 3px;
  -webkit-transform: translateX(40%) translateY(-40%);
  -moz-transform: translateX(40%) translateY(-40%);
  -ms-transform: translateX(40%) translateY(-40%);
  -o-transform: translateX(40%) translateY(-40%);  
  transform: translateX(40%) translateY(-40%);
  z-index: 4;
}  

.triangle {
  margin-top: 35% ;
  padding-left: 50%;
  padding-top: 45%;
  overflow: hidden;
  z-index: 5;
}  
  
.triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left:-500px;
  margin-top:-500px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-top: 500px solid #2B0F88;
  opacity: 0.6;
}

.eightCircle:before { /* answer */  
  content: "";
  align-content: center;
  position: absolute;
  text-align: center;
  height: 27%;
  width: 40%;
  left: 68%;
  margin-left: -40%;
  top: 80%;
  margin-top: -46%;
  font-size: 20px;
  line-height: 10%;
  z-index: 6;
}

.text {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: -43%;
  margin-left: -25%;
  width: 50%;
  height: 23%;
  color: white;
  justify-content: center;
  z-index: 7;  
  border: fuchsia 1px solid;
}

@media screen and (max-width: 450px) {
  .text {
    font-size: 30%;
  }
}

@media screen and (min-width: 451px) {
  .text {
    font-size: 70%;
  }
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  top: 20%;
  left: -33%; 
  z-index: -1;
  }
 
button {
  margin: auto; 
  margin-bottom: 1%;
  background-color: #151414f1;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 63%;
  font-weight: 600;
  line-height: 170%;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.magicalToy {
  animation: shake normal 0.8s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}  


