.App {
  text-align: center;
}

.pic {
  height: 60vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .pic {
    animation: ball-spin normal 1.5s ease;
  }
}

@keyframes ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
