@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat:wght@100&family=Orelega+One&family=Sunflower&display=swap');
body {
  margin: 0;
  font-family: 'Caveat', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19, 19, 51);
  color: white;
  font-size: 240%;
}